{% load static %}
{% load tags %}

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <!-- REVIEW : if user is login -->
    {% if user.is_authenticated %}
    {% if user.profile.image %}
    <div class="w3-col s4">
      <img src="{{ user.profile.image.url }}" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    {% else %}
      <div class="w3-col s4">
          <a href="{% url 'home' %}">
            <img src="{% static 'logo.png' %}" class="w3-circle w3-margin-right" style="width:46px">
          </a>
        </div>
    {% endif %}
      
      <div class="w3-col s8 w3-bar">
        <span>Welcome, <br>
          <!-- user has profile data -->
          {% if user.profile.rank and user.get_full_name %}
            <strong>{{ user.profile.rank }}{{ user.get_full_name }}</strong>
          {% else %}
            <a href="{% url 'account:profile-update' %}"><strong class="w3-red">Please Update Profile!!!!</strong></a>
          {% endif %}
        </span><br>
        <a href="{% url 'account:profile' %}" class="w3-bar-item w3-button w3-pale-blue">
          <i class="fa fa-user"></i>
        </a>
        {% if request.user.is_superuser %}
        <a href="{% url 'admin:index' %}" class="w3-bar-item w3-button w3-light-gray">
            <i class="fa fa-cog"></i>
        </a>
        {% else %}
        <a href="{% url 'account:profile-update' %}" class="w3-bar-item w3-button w3-light-gray">
            <i class="fa fa-cog"></i>
        </a>
        {% endif %}
        <!--<a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-pale-red">-->
        <!--<i class="fa fa-sign-out"></i>-->
        <!--</a>-->
        <a href="#" 
            onclick="document.getElementById('logoutModal').style.display='block'"
            class="w3-bar-item w3-button w3-pale-red">
            <i class="fa fa-sign-out"></i>
        </a>
      </div>
    <!-- REVIEW : if user not login-->
    {% else %}
      <div class="w3-col s4">
        <a href="{% url 'home' %}">
          <img src="{% static 'logo.png' %}" class="w3-circle w3-margin-right" style="width:46px">
        </a>
      </div>
      <div class="w3-col s8 w3-bar">
        <span>Welcome, <br>
            <strong>ยังไม่ได้เข้าสู่ระบบ</strong>
        </span><br>
        <a href="{% url 'login' %}" class="w3-bar-item w3-button">Login</a>
        <a href="{% url 'account:register' %}" class="w3-bar-item w3-button">Register</a>
      </div>
    {% endif %} 
    </div>
    <hr>
    <!--<div class="w3-container">-->
    <!--<h5>Dashboard</h5>-->
    <!--</div>-->
    <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  หน้าหลัก</a>
      <a href="{% url 'announce:list' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  ประชาสัมพันธ์/สั่งการ</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-fas fa-question-circle fa-fw"></i>  การร้องขอ/สนับสนุน</a>
      {% if request.user|has_group:'Staff' %}
      <a href="{% url 'assign:staff-list' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  งานที่มอบหมาย</a>
      {% else %}
        <a href="{% url 'assign:list' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  งานที่ได้รับมอบหมาย</a>
      {% endif %}
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  การออกปฏิบัติงาน</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-wrench fa-fw"></i>  แจ้งเสีย</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-car fa-fw"></i>  ยานพาหนะ</a>
      <a href="{% url 'asset:list' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  คลัง</a>
      <!--TODO : make app cart-->
      <a href="{% url 'asset:list' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-shopping-basket fa-fw"></i>  เบิก/คืน</a>
      <!--<a href="{% url 'asset:list' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-fab fa-stack-overflow fa-fw"></i>  เบิก/จ่าย</a>-->
      <a href="{% url 'journal:list' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bookmark fa-fw"></i>  บันทึกการทำงาน</a>
      <a href="{% url 'document:home' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-share-alt fa-fw"></i>  เอกสาร</a>
      <a href="{% url 'account:members' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  รายชื่อกำลังพล</a>
    </div>
</nav>

<div id="logoutModal" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content">

      <br>
    <header class="w3-container">
      <span onclick="document.getElementById('logoutModal').style.display='none'"
      class="w3-button w3-display-topright">X</span>
      <h2>ต้องการออกจากระบบ</h2>
    </header>

    <br>
    
    <div class="w3-container">
      <p>ยืนยันการออกจากระบบ!!!..</p>
    </div>

    <br>
    
    <footer class="w3-container">
        <a href="{% url 'logout' %}">
        <button class="w3-button w3-red" style="float: right;">ยืนยัน</button>
        </a>
        &nbsp;
        <button  onclick="document.getElementById('logoutModal').style.display='none'"
            class="w3-button" style="float: right;">ยกเลิก</button>
    </footer>
    <br>
    

  </div>
</div>

