{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% load tags %}

{% block title %}Assign List{% endblock title %}

{% block content %}
<style type="text/css">
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
    th {
        cursor: pointer;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<br>
<div class="w3-container w3-center">
    <h2>งานที่มอบหมาย/งานที่ได้รับมอบหมาย</h2>
</div>

<div class="w3-container">
    <div class="w3-content">
        <div class="w3-bar">
            {% if request.user|has_group:"Staff" %}
            <a href="{% url 'assign:create' %}" style="text-decoration: none;">
                <button class="w3-bar-item w3-button w3-right w3-green">
                    <i class="fa fa-far fa-plus-square">
                        มอบหมายงาน
                    </i>
                </button>
            </a>
            {% endif %}

            <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-left w3-gray">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Back
            </a>
        </div>
    </div>
</div>
<br>

<!-- DONE : Make list -->
<div class="w3-content table-responsive">
    <table class="w3-table table-bordered" id="dataTable" width="100%" cellspacing="0" cellpadding="0">
        {% if request.user|has_group:"Staff" %}
        <thead>
            <tr>
                <th onclick="sortTable(1)" style="width: 25%;">Title</th>
                <th onclick="sortTable(2)" style="width: 20%">Assign To</th>
                <th onclick="sortTable(3)" style="width: 15%;">Created At</th>
                <th onclick="sortTable(4)" style="width: 15%;">Status</th>
                <th onclick="sortTable(5)" style="width: 15%;">Accepted</th>
                <th onclick="sortTable(6)" style="width: 10%;">...</th>
            </tr>
        </thead>

        <tbody>
            {% for object in object_list %}
            <tr class="w3-hover-purple">
                <td>{{ object.title }}</td>
                <td>{{ object.assigned_to.rank }}{{ object.assigned_to.user.get_full_name }}</td>
                <td>{{ object.created_at|thaidate }}</td>
                <td>
                    {% if object.status %}
                    {{ object.status.name }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <!--<td>{{ object.accepted }}</td>-->
                <td>
                    {% if object.accepted %}
                    <i class="fa fa-check-circle-o" style="color:green"></i>&nbsp;ตอบรับแล้ว
                    {% else %}
                    <i class="fa fa-times-circle-o" style="color:red"></i>&nbsp;ยังไม่ตอบรับ
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'assign:detail' pk=object.pk %}" class="w3-button w3-small w3-light-blue">Detail</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <thead>
            <tr>
                <th onclick="sortTable(1)" style="width: 25%;">Title</th>
                <th onclick="sortTable(2)" style="width: 20%">Assign from</th>
                <th onclick="sortTable(3)" style="width: 15%;">Created At</th>
                <th onclick="sortTable(4)" style="width: 15%;">Status</th>
                <th onclick="sortTable(5)" style="width: 15%;">Accepted</th>
                <th onclick="sortTable(6)" style="width: 10%;">...</th>
            </tr>
        </thead>

        <tbody>
            {% for object in object_list %}
            <tr class="w3-hover-purple">
                <td>{{ object.title }}</td>
                <td>{{ object.author.profile.rank }}{{ object.author.get_full_name }}</td>
                <td>{{ object.created_at|thaidate }}</td>
                <td>
                    {% if object.status %}
                    {{ object.status.name }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <!--<td>{{ object.accepted }}</td>-->
                <td>
                    {% if object.accepted %}
                    <i class="fa fa-check-circle-o" style="color:green"></i>&nbsp;ตอบรับแล้ว
                    {% else %}
                    <i class="fa fa-times-circle-o" style="color:red"></i>&nbsp;ยังไม่ตอบรับ
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'assign:detail' pk=object.pk %}" class="w3-button w3-small w3-light-blue">Detail</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>


        {% endif %}
    </table>


</div>

{% endblock content %}

