{% extends "base.html" %}
{% load static %}

{% block title %}
 Login   
{% endblock title %}

{% block content %}
<style>
    form {border: 3px solid #f1f1f1;}

    input {
        padding:8px;
        display:block;
        border:none;
        border-bottom:1px solid #ccc;
        width:100%
    }

    .imagecontainer {
        text-align: center;
        margin : 12px 0 6px 0;
    }

    img.avatar {
        width: 25%;
        border-radius: 50%;
      }

    button {
        padding:14px 20px;
        margin: 8px 0;
        border-radius: 12px;
        width: 100%;
    }
    table tr td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<form method="post">
    {% csrf_token %}
    <div class="imagecontainer">
        <img src="{% static 'logo.png' %}" alt="Logo" class="avatar">
        <h1>เข้าสู่ระบบ</h1>
    </div>
    <div class="w3-container w3-center">
        <table class="w3-table w3-centered">
            <tr>
                <th style="width: 25%;">Name</th>
                <th>User</th>
                <th>Password</th>
            </tr>
            <tr>
                <td>Admin, Staff</td>
                <td>admin</td>
                <td>adminlouis</td>
            </tr>
            <tr>
                <td>technical</td>
                <td>tech</td>
                <td>techtech</td>
            </tr>
        </table>
    </div>

    <div class="w3-container">
        
        {{ form.username.label }}
        {{ form.username }}
        <br> 
        
        {{ form.password.label }}
        {{ form.password }}
        <br>
        
        <button type="submit" class="w3-button w3-green w3-large">Login</button>
    </div>  

    <div class="w3-bar">
        <a href="#" class="w3-bar-item w3-button w3-right">Cancle</a>
        <a href="{% url 'account:register' %}" class="w3-bar-item w3-button w3-right">Register</a>
        <a href="#" class="w3-bar-item w3-button w3-right">Forget password</a>
    </div>
</form>

<br><br><br>

{% endblock content %}
