{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% load tags %}

{% block title %}{{ object.name }} {{ name }} {% endblock title %}

{% block content %}

{% comment %} <link rel="stylesheet" href="{% static 'external/photoswipe/photoswipe.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'external/photoswipe/default-skin/default-skin.css' %}"> {% endcomment %}

<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
{% comment %} <script src="{% static 'external/photoswipe/photoswipe.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'external/photoswipe/photoswipe-ui-default.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/app.js' %}"</script> {% endcomment %}

<style>
    form {border: 3px solid #f1f1f1;}

    input {
        padding:8px;
        display:block;
        border:none;
        border-bottom:1px solid #ccc;
        width:100%
    }

    .imagecontainer {
        text-align: center;
        margin : 12px 0 6px 0;
    }

    img.avatar {
        width: 25%;
        border-radius: 50%;
      }

    button {
        padding:14px 20px;
        margin: 8px 0;
        border-radius: 12px;
        width: 100%;
    }
</style>
<br>
<div class="w3-container">
    <h3 class="w3-center">{{ object.name }}</h3>
    <table class="w3-table">
        <tr>
            <td style="width: 25%;">ประเภท</td>
            <td>{{ object.asset_type }}</td>

            {% comment %} <td style="width: 25%;">เรื่อง</td>
            <td>{{ announce.name }}</td> {% endcomment %}
        </tr>

        <tr>
            <td style="width: 5%;">ชื่อ</td>
            <td>{{ object.name }}</td>
            
            <td style="width: 10%;">serial no :</td>
            <td>{{ object.serial_no }}</td>
        </tr>

        <tr>
            <td style="width: 25%;">สถานะ</td>
            <td>{{ object.status }}</td>

            <td style="width: 10%;">สถานที่</td>
            <td>{{ object.location_at.name }} </td>
        </tr>

        <tr>
            <td style="width: 25%;">ผู้ผลิต/ยี่ห้อ</td>
            <td>{{ object.manufacturer }}</td>

            <td style="width: 10%;">ผู้จำหน่าย</td>
            <td>{{ object.supplier }}</td>
        </tr>

    </table>
    <br>
    
        <table class="w3-table">
            <tr>
                <td><b>รายละเอียด</b></td>
            </tr>
            <tr>
                <td>
                    {{ object.note|linebreaks }}
                </td>
            </tr>

        </table>

        <hr>
        {% if object.image %}
        <div class="w3-center">
            <a class="col s12 m3" href="{{ object.image.url }}" target="_blank">
                <img height="400" width="600" src="{{ object.image.url }}" alt="">
            </a>
        </div>
        {% endif %}
        
                
        <br>

    {% if object.author.pk == request.user.pk %}
        <div class="w3-container w3-center">
            <a href="{% url 'announce:delete' pk=object.pk %}" class="w3-bar-item w3-button w3-center w3-large w3-red">Delete</a>
            <a href="{% url 'announce:list' %}" class="w3-bar-item w3-button w3-center w3-large w3-lime">Back</a>
            <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-center w3-large w3-gray">Home</a>
        </div>
    {% else %}
    <div class="w3-container w3-center">
        <a href="{% url 'asset:list' %}" class="w3-bar-item w3-button w3-center w3-blue">List</a>
        <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-center w3-gray">Home</a>
    </div>
    {% endif %}
    
</div>

{% endblock content %}

{% block script %}


{% endblock script %}

