{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% load tags %}

{% block title %}Announce List{% endblock title %}

{% block content %}
<style type="text/css">
    table {
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        border-collapse: collapse;
    }
    th {
        cursor: pointer;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    .sub {
        position:absolute;
        top: -10px;
        right: -10px;
        background: orange;
    }
</style>
<br>
<div class="w3-container w3-center">
    <h2>ประชาสัมพันธ์/สั่งการ</h2>
</div>

<div class="w3-container">
    <div class="w3-content">
        <div class="w3-bar">
            <a href="{% url 'announce:create' %}" style="text-decoration: none;">
                <button class="w3-bar-item w3-button w3-right w3-green">
                    <i class="fa fa-far fa-plus-square">
                        สร้าง
                    </i>
                </button>
            </a>
        </div>
    </div>
</div>
<br>

<!-- DONE : Make list -->
<div class="w3-content table-responsive">
    <table class="w3-table table-bordered" id="dataTable" width="100%" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
            <th onclick="sortTable(1)" style="width: 10%;">ประเภท</th>
            <th onclick="sortTable(2)" style="width: 30%">เรื่อง</th>
            <th onclick="sortTable(3)" style="width: 15%;">ผู้เขียน</th>
            <th onclick="sortTable(4)" style="width: 20%;">เมื่อ</th>
            <th onclick="sortTable(5)" style="width: 15%;">สถานะ</th>
            <th onclick="sortTable(6)" style="width: 10%;">...</th>
        </tr>
      </thead>

      <tbody>
        {% for announce in object_list %}
        <tr class="w3-hover-purple">
            <td>{{ announce.is_type }}</td>
            <td>{{ announce.name }}</td>
            <td>{{ announce.author.profile.rank }}{{ announce.author.get_full_name }}</td>
            <td>{{ announce.created_at|timezone:"Asia/Bangkok"|thaidate }}</td>
            <td>
                {{ announce.status }}
                {% if not announce in read and not announce.author == request.user %}
                <span class="w3-badge w3-orange">!</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'announce:detail' pk=announce.pk %}" class="w3-button w3-small w3-light-blue">Detail</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    
</div>

{% endblock content %}

{% comment %} 
{% block script %}

<script type="text/javascript">
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
          //start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /*Loop through all table rows (except the
          first, which contains table headers):*/
          for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
          } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }
      </script>
{% endblock script %} 
{% endcomment %}
